<div class="daily-balances">
  <%= "#{@daily_balances.record_date}" %>
  <% @book_records.each do |record| %>
    <% if record.direction.zero? %>
      <div class="daily-expenditure">
        <%= record.category %>
        <%= record.amount %>
      </div>
    <% else %>
      <div class="daily-income">
        <%= record.category %>
        <%= record.amount %>
      </div>
    <% end %>
  <% end %>
</div>