<div class="profile_infomation">
  <div class="profile-header">
    <%= image_tag(current_user.header_image.url, class: "img-responsive header-image") %>
  </div>
  <div class="col-md-3 profile-sidebar">
    <div class="profile-icon">
      <%= image_tag(current_user.img.url, class: "img-responsive icon-image") %>
    </div>
    <div class="profile-name">
      <%= "#{current_user.name} さん" %>
    </div>
    <div class="profile-created_at">
      <%= "#{current_user.created_at.strftime('%Y年%m月%d')}日に登録" %>
    </div>
    <%= render("book_record_form") %>
  </div>
  <div class="col-md-9 profile-information">
    <div class="monthly-balances-title">
      <%= "#{current_user.name}さんの収支カレンダー" %>
    </div>
    <%= render("shared/calendar", user: current_user) %>
  <div>
</div>