<% provide(:title, "プロフィール画像の変更") %>
<div class="image-settings-title">
  プロフィール画像の変更
</div>
<div class="row">
  <%= render("setting_sidebar") %>
  <div class="col-md-6 image-settings-form">
    <%= form_for(@user, url: images_update_path(@user)) do |f| %>
      <%= render("shared/error_messages") %>

      <%= f.label :header_image, "ヘッダー画像"%>
      <%= f.file_field :header_image, class: "form-control" %>

      <%= f.label :email, "プロフィール画像" %>
      <%= f.file_field :img, class: "form-control" %>

      <%= f.submit "設定の変更", class: "btn image-settings-update-button" %>
    <% end %>
    <%= link_to "初期画像に戻す", images_reset_path(@user), class: "btn image-reset-button", method: :post %>
  </div>
</div>
